uname=mapr
password=mapr123456
check_plugin=hive
stop_doy_command=/opt/mapr/drill/drill-<version>/bin/drill-on-yarn.sh --site <absolute path to DRILL_SITE directory> stop 
start_doy_command=/opt/mapr/drill/drill-<version>/bin/drill-on-yarn.sh --site  <absolute path to DRILL_SITE directory> start
